# Binaries
bin/
*.o
*.out

# Logs
data/logs/*.log

# Build artifacts
build/
dist/

# Valgrind logs
valgrind-out.*

# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# C specific ignores
# editor backup files
*~
*.bak
*.swp
